html {
  background: #053449;
  font-family: 'Fira Code', monospace;
  color:rgb(196, 194, 194);
  margin: 2.5%;
}

.hollow-button {
  border: 2px solid #62f39e;
  border-radius: 4px;
  background: transparent;
  color: #62f39e;
  font-family: 'Fira Code', monospace;
  height: 40px;
  width: 100px;
  text-decoration: none;
  display: grid;
  place-items: center;
  transition: 0.3s;
}

.hollow-button:hover {
  background: rgba(98, 243, 158, 0.100);
}

.header-link-icons {
  color: #62f39e;
  width: 25px;
  height: 25px;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-frame {
  width: 320px;
  height: 180px;
  border: 2px solid #62f39e;
  border-radius: 4px;
  background: rgba(98, 243, 158, 0.100);
  box-shadow: 0px 30px 90px -10px rgba(0, 0, 0, 0.6);
}

.project-name {
  width: 250px;
  font-size: 1.2em;
  text-align: center;
  color:rgb(255, 255, 255);
  margin-top: 4px;
}

.project-caption {
  width: 250px;
  text-align: center;
  font-style: italic;
  font-size: 0.8em;
  margin-top: 2px;
}

.project-img {
  width: 320px;
  height: 180px;
}

.view-code-link {
  text-decoration: none;
  color: #62f39e;
}

.footing-icons {
  margin-right: 4px;
  color: #62f39e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#heading-wrapper {
  display: flex;
  justify-content: space-between;
}

#heading-right {
  display: flex;
  align-items: center;
}

#heading-icon {
  color: #62f39e;
  width: 40px;
  height: 40px;
}

#content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-wrapper {
  margin-top: 4%;
  max-width: 1000px;
}

#greeting {
  font-size: 20px;
  color:#62f39e;
}

#my-name {
  font-family: 'Kanit', sans-serif;
  font-size: 80px;
  color: rgb(212, 153, 212);
}

#about-paragraph {
  color: rgb(196, 194, 194);
  width: 70%;
  margin-bottom: 2rem;
}

#projects-section-wrapper {
  max-width: 1000px;
}

#projects-headline {
  color:#62f39e;
}

#projects-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 700px;
  padding: 0 1.5%;
  margin-top: 5%;
}

#footing-wrapper {
  color: #62f39e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 740px) {
  #about-wrapper {
    text-align: center;
  }

  #about-paragraph {
    color: rgb(196, 194, 194);
    width: fit-content;
  }

  #projects-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: fit-content;
    margin-top: 5%;
  }

  .project-caption {
    margin-bottom: 5%;
  }

  .footing-icons {
    height: 25px;
    width: 25px;
    padding-top: 10px;
  }

  #projects-headline {
    text-align: center;
  }

  #footing-wrapper {
    margin-top: 5%;
  }
}